main {
    max-width: 42.8rem;
    margin: auto;
}
header {
    width: 100%;
    padding-top: 3.01rem;

    display: flex;
    align-items: center;
}
header img {
    width: 3.7rem;
    height: 3.7rem;
}
header h1 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-left: 3.8rem;
}

.galeria {
    width: 100%;
    background-color: red;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.galeria .item {
    background-color: blue;
    color:
}